.app__root {
  min-height: 100vh;
  display: flex;
  background-color: #f7f7f7;
}
.app__root a {
  text-decoration: none;
  cursor: pointer;

}
.app__root h5 , p {
  font-family: inherit;

}
.error {
  color: rgb(214, 29, 29) !important;
  font-weight: bold;
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .app__root {
    flex-direction: column;
  }
}
